<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Connection" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=SLAMS_CRM;integrated security=True;connect timeout=30;encrypt=False" />
        <add name="localhost_slamscrmdb_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=slamscrmdb;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
</configuration>